.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}
.signup-form{
  position: relative;
  }
  .form-field{
      margin: 26px 0px;
      line-height: 0.5;
  }
  .form-label{
  
  }
  .signup-header{
      text-align: center;
  }
  .form-input{
      display: block;
      position: relative;
      /* border-bottom: 1px solid black; */
      width: 100%;
      border: 0px;
      border-bottom: 1px solid #ccb6b6;
      padding: 5px 0px;
  }
  .btn-signup{
      width: 175px;
      border-radius: 30px;
      font-size: 21px;
  }
  .sign-in-link-button{
      border: 0px;
      width: 175px;
      /* padding-top: 1px; */
      background: transparent;
      color: #b1a7a7;
      font-size: 22px;
      position: absolute;
      right: 0;
  }
  textarea:focus, input:focus{
      outline: none;
  }
  button:focus {outline:0;}
  
  .sign-in-icon{
      font-size: 21px;
      color: #675d62;
  }
 
  .applicant-img{
    width: 102px;
    position: relative;
   
    height: 100px;
    border-radius: 3px;
}
.applicant-img-card{

}
.name-label{

}
.applicant-name-card{

}
.vote-body,body{
    background-color: #f1f1f1;
   
}
.card{
    border:0;
}
.col-margin {
    margin: 5px 0px;
    box-shadow: 0px 2px #dedede;
}
.topic-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .topic-heading{
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
  }
 
  .contestant-name{
    position: relative;
    padding-top: 17px;
    font-weight: 400;
    color: #4e4949;
    font-size: 24px;
    margin-bottom: 0;
  }
  .vote-button{
    position: absolute;
    top: 31px;
    width: 87%;
    border: 0;
    border-radius: 43px;
    cursor: pointer;
    padding: 6px;
    color: #736565;
    font-size: 20px;
    font-weight: 450;
  }
  .vote-button:focus{
     border: 1px solid #6f42c1;;
     outline-color: transparent;
     
  }
  .contestant-location{
    position: relative;
    left: 80px;
    color: #757582;
  }     
  body{
    background-color: #f1f1f1;
   
}
.container{
  position: relative;
}
.navb{
  position:relative;
}
.container{
  margin-top:25px;
}
.pollslist{
  background-color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}
.pollslistLink{
  cursor: pointer;
  
}
.pollslistLink:hover{
 text-decoration: underline;
}
.pollslistHead{
  margin-top: 10px;
}
hr{
  margin-top: 0 !important;
  border-top: 0 !important;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
.iconStyle{
  font-size:15px;
}

.collapse:not(.show) {
  display: block!important;
}

 @media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}
@media only screen and (max-width: 600px){

  .topic-heading-card {
    height: 161px;
  }
 }  
@media (min-width:768px){
  
}
.collapse:not(.show) {
  display: none; 
}
 }
.topic-heading-card{
  height: 131px;
    position: relative;
}
 .alertDiv{
  height: 58px;
  position: relative;
 }