.bl{
      width: 60px;
      position: absolute;
      display: block;
      left: 42%;
      top: 50%;
      z-index: 200000;
}


@media screen and (min-width:768px){
      .bl{
            left:50%;
      }
}